.container {
    scroll-snap-type: both mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;

    scroll-behavior: smooth;
    position: relative;

    transition: background 0.5s;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}