.paragraph {
    padding: 0 1rem;
    text-align: center;
    font-weight: 300;
    max-width: 500px;
    font-size: 1.1rem;
    position: relative;
}
/*
.paragraph_main {
    text-shadow: linear-gradient(90deg,rgb(var(--pink-c)),rgb(var(--green-c)),rgb(var(--yellow-c)),rgb(var(--blue-c))) 1px 0 10px;;
}
*/

        
.paragraph_main {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
}

.paragraph_main::after {
    content: '';
    position: absolute;
    width: 1px;
    transform: translate(4px);
    height: 90%;
    background: rgb(var(--text-main-color));
    animation: cursor_animation alternate infinite 0.7s;
}

@keyframes cursor_animation {
    0% {
        background: rgba(var(--text-main-color),0);
    }
    100% {
        background: rgba(var(--text-main-color),1);
    }
}