.header {
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: rgb(var(--main-color));
    background: rgb(var(--yellow-c));
}

.flex {
    display: flex;
    gap: 0.50rem;

    width: 100%;
    max-width: 500px;

    align-items: center;
    justify-content: center;
}

.button {
    all: unset;
    flex: 1;
    padding: 0.5rem;
    height: 25px;

    background: rgb(var(--yellow-c));

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;

    cursor: pointer;
    color: rgb(var(--main-color));
}
