.grid_cont {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

    position: fixed;
    z-index: -3;
    top: 0;
    left: 0;

}

.grid {
    height: 1000px;
    width: 1000px;
    flex-shrink: 0;

    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);

    opacity: 0;
}

.opacity {
    opacity: 1;
}

.grid_box {
    transition: all 1.5s;
}

.grid_box_active {
    background: rgba(var(--text-main-color),0.1);
}

.grid_box_inactive {
    background: transparent;
}

.initial_animation {
    animation: initial_animation forwards 1.5s;
}

@keyframes initial_animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (width > 768px){
    .grid {
        height: 2500px;
        width: 2500px;
    }
}        
