:root {
  --main-color: 20, 8, 14;
  --text-main-color: 239, 233, 231;
  --green-c: 32, 252, 143;
  --yellow-c: 255, 210, 63;
  --blue-c: 94, 43, 255;
  --pink-c: 245, 88, 114; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: 'Source Code Pro', monospace;
  overflow-x: hidden;
}

body {
  color: rgb(var(--text-main-color));
  background: rgb(var(--main-color));
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}



@media screen and (width > 768px){
  ::-webkit-scrollbar {
    width: 19px;
  }
  
  ::-webkit-scrollbar-thumb {
    border: 2px solid rgb(var(--text-main-color));
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: rgb(var(--text-main-color));
  }
}